    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About 42Technical</h2>
                <p>
<span class="label label-primary">Cisco Technologies</span>
<span class="label label-success">Switches</span>
<span class="label label-info">CCNP</span>
<span class="label label-warning">Security</span>
<span class="label label-danger">Networking</span>
<span class="label label-primary">VoIP</span>
<span class="label label-success">CCNA</span>
<span class="label label-info">Network Engineering</span>
<span class="label label-warning">Telecommunications</span>
<span class="label label-danger">Cisco Nexus</span>

</p>
            </div>
        </div>
    </section>