    <!-- Projects Section -->
    <section id="projects" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div id="projects" class="well">
                    <h2>My Projects</h2>
                    <p>What I'm up to...</p>
                    <p>
                        <ul class="fa-ul bullet-projects">
                            <li><i class="fa fa-cog fa-spin"></i> Currently working a large nexus 5596UP project attaching several of the new IBM flex bladecenters with B22 Fabric extenders.</li>
                            <li><i class="fa fa-cog fa-spin"></i> Just deployed a Nexus 7706 and now officially LOVE the 7k platform.</li>
                            <li><i class="fa fa-cog fa-spin"></i> Recently attended a Juniper security course and am getting pumped up to deploy a handful of SRX650's.</li>
                        </ul>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>